<ion-header>
  <ion-toolbar color="gris">
    <ion-title>
      <img class="logo-header" src="../../assets/Tiebari-logo.png">
    </ion-title>
    <ion-button (click)="OpenUrl()" slot="end">
        <ion-icon name="information-circle"></ion-icon>

      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- <button ion-button (click)="vibrate()">Vibrate</button> -->

<!-- <ion-button (click)="vibrate()" slot="end">
    <p>Vibreur</p>
  </ion-button> -->
  <h3 class="mv">MODE DE VIBRATION</h3>
  <ion-button class="test" (click)="vibrate1()"> Vibrer 1s </ion-button>
  <ion-button (click)="vibrate2()"> Vibrer 3s</ion-button>
  <ion-button (click)="vibrate3()"> Vibrer 5s</ion-button>
  <h3 class="btS">STATUS BATTERIE</h3>
  <div class="pourcentage">{{btlvl}} %</div>
  <div class="brancher">{{btsat}}</div>

  <ion-button class="btbuttons" (click)="CheckBatStatus()"> Voir </ion-button>
  <ion-button  (click)="stpBatCheck()"> Stop </ion-button>

  <div class="scroll-box">
    <div class="movie">
    </div>

  </div>


</ion-content>
