<ion-header>
  <ion-toolbar color="gris">
    <ion-title>
      <img class="logo-header" src="../../assets/Tiebari-logo.png">
    </ion-title>
    <ion-button (click)="OpenUrl()" slot="end">
        <ion-icon name="information-circle"></ion-icon>

      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- <button ion-button (click)="vibrate()">Vibrate</button> -->

<!-- <ion-button (click)="vibrate()" slot="end">
    <p>Vibreur</p>
  </ion-button> -->
  <ion-label class="new" color="light" position="stacked">MODE DE VIBRATION</ion-label>
  <ion-button (click)="vibrate1()" expand="block" fill="outline" color="light" > Vibrer 1s </ion-button>
  <ion-button (click)="vibrate2()" expand="block" fill="outline" color="light"> Vibrer 3s</ion-button>
  <ion-button (click)="vibrate3()" expand="block" fill="outline" color="light"> Vibrer 5s</ion-button>
  <h3 class="btS">STATUS BATTERIE</h3>
  <div class="pourcentage">{{btlvl}} %</div>
  <div class="brancher">{{btsat}}</div>

  <ion-list lines="full" inset="false">
  <ion-button  (click)="CheckBatStatus()" expand="block" fill="outline" color="light"> Voir </ion-button>
  <ion-button  (click)="stpBatCheck()" expand="block" fill="outline" color="light"> Stop </ion-button>
  </ion-list>
  <div class="scroll-box">
    <div class="movie">
    </div>

  </div>


</ion-content>
